        @charset "UTF-8";
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular''Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body,html{
    background-color: #2E4057;
    height: 100vh;
    width: 100vw;
}
nav{
   width: 100vw;
   height: 90px;
   background-color: #01282e;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .logo{
        font-size: 2em;
        color: white;
        margin-left: 10px;
   }
    #menu{
            position: absolute;
            top: 12%;
            right: 50px;
            width: 60vw;
            padding: 20px;
            height: 40vh;
            background: #1A1B25;
            border-radius: 10px;
            display: none;
        ul{
            //background-color: #222;
            //height: 50vh;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            margin-right: 10px;
            gap: 30px;


            li{

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.5em;
                    padding: 5px;
                    transition: 1s;
                    &.active{
                        background: #f88f06;
                    }
                    &:hover{
                        background-color: #f88f06;
                    }
                }
            }
        }
    }
    .btn, i{
        font-size: 2em;
        margin-right: 10px;
        cursor: pointer;
        color: white;
        transition: 1s;

        &:hover{
          color: #f88f06;
        }
    }
}
main{
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin-top: 12%;

       section,#login{
            //width: auto;
            height: 500px;
            background: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(0,0,0,0.450);
            overflow: hidden;

            #login, div#imagem{
                //display: block;
                background: #2E4057 url(../img/nando1.jpg) no-repeat;
                background-position: top center;
                background-size: cover;
                height: 220px;


            }
       }



    }
