


$bg-image: url('../img/001.jpg');
$color-prince: #ff7200;
$color-second: green;
$color-tree: red;
$color-for: blue;
$color-five: #222;
$color-seven: #fff;
$border: 2px solid $color-prince;
$margin-top: 20px;
$padding: 20px;
$font: DejaVu Serif Italic;
