


$amarelo-Roxo: #A40E4C; //amarant-purple;
$cadete: #2C2C54; // space-cadet;
$verde: #ACC3A6; //laurel-green;
$pessego: #F5D6BA; //peach-puff;
$tangerina-atomica: #F49D6E; //atomic-tangerine;
$white: #fff; //branco;

