

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial, verdana, Helvetica, Sans-serif;
}
header{
	background-color: #084360;
	display: grid;
	grid-template-columns: repeat(1, 1fr) 80px;
	grid-template-rows: 80px;
	justify-content: center;
	align-items: center;
}
.logo{
	margin-left: 5px;
}
.logo > h1{
	font-size: 3rem;
	color: #fff;
	font-style: italic;
}
#menu{
	display: none;
}
#menu{
	position: absolute;
	right: 10px;
	top: 5rem;
	width: 100vw;
	height: 90vh;
	text-align: center;
}
nav > ul{
	list-style: none;
	padding: 20px;
}
nav > ul > li{
	padding: 10px;
	//display: block;
}
nav > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	display: block;
	padding: 10px;
	letter-spacing: 5px;
	text-transform: upperCase;
	font-weight: bold;
	font-style: italic;
	transition: 0.5s;
}
nav > ul > li > a:hover{
	background: red;
	border-radius: 5px;
}
#btn{
	font-size: 3.5rem;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.search{
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
