                    @charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: arial,Helvetica,Sans-serif;
}
body,html{
    background-color: #00ffc3f0;

    header{
        text-align: center;
        h1{
            font-size: 2.5em;
            font-weight: bold;
            font-style: italic;
            text-transform: capitalize;
            margin-top: 10px;
        }
        nav{
           display: block;
           ul{
                list-style-type: none;
               li > a{
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    background-color: rgb(38, 149, 107);
                    color: white;
                    font-size: 1.5em;
                    border-top: 20px solid #00ffc3f0;
                    &:hover{
                        background-color: red;
                    }
               }
           }
        }
    }
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
   margin-top: 10px;
   border-radius: 10px;

   section{
        padding: 20px;

        p{
            text-align: justify;
            margin-bottom: 20px;
            text-indent: 20px;
        }
   }

}
