                        @charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}
main{
    margin: auto;
    font-size: 3.5em;
    display: none;
}
p{
   text-align: center;
}